@page "/services"
@rendermode InteractiveServer
@using PetShop.Components.UI
@namespace PetShop.Components.Pages

<PageTitle>Service</PageTitle>

<main class="space-y-3">
    <section class="auto-limit-w flex flex-col px-4 gap-8">
        <h2 class="font-semibold text-2xl md:text-6xl">
            <span class="text-primary">Book Your Pet’s Appointment</span>
        </h2>
        <EditForm Model="Model" OnSubmit="Submit" FormName="BookingForm">
            <Select>
                <AsChild Context="selectAttributes">
                    <InputSelect @attributes="selectAttributes" @bind-Value="Model.BookingType">
                        <option value="@BookingType.VetAndCheckup">Vet And Checkup</option>
                        <option value="@BookingType.PetGrooming">Pet Grooming</option>
                        <option value="@BookingType.PetSitting">Pet Sitting</option>
                    </InputSelect>
                </AsChild>
            </Select>

            <Select>
                <AsChild Context="selectAttributes">
                    <InputSelect @attributes="selectAttributes" @bind-Value="Model.PetType">
                        <option value="@PetType.Cat">Cat</option>
                        <option value="@PetType.Dog">Dog</option>
                        <option value="@PetType.Bird">Bird</option>
                        <option value="@PetType.Reptile">Reptile</option>
                    </InputSelect>
                </AsChild>
            </Select>
            
            <Button class="bg-primary text-primary-foreground" type="submit">
                Submit
            </Button>

            <Input>
                <AsChild Context="inputAttributes">
                    <InputText @attributes="inputAttributes" @bind-Value="Model.OwnerName" placeholder="Enter owner's name" />
                </AsChild>
            </Input>

        </EditForm>



        

        <!-- Dropdown for Service Type -->
        @*  <div class="flex flex-col gap-2"> *@
        @*      <label for="serviceType" class="text-lg md:text-xl font-semibold text-left"> *@
        @*          Book Your Service: *@
        @*      </label> *@
        @*      <select id="serviceType" @onchange="OnServiceChange" class="border border-gray-300 rounded-md p-2 w-full"> *@
        @*          <option value="vetCheckUp">Vet and Check-up</option> *@
        @*          <option value="petGrooming">Pet Grooming</option> *@
        @*          <option value="petSitting">Pet Sitting</option> *@
        @*      </select> *@
        @*  </div> *@
        @* *@
        @*  <!-- Dropdown for Pet Type --> *@
        @*  <div class="flex flex-col gap-2"> *@
        @*      <label for="petType" class="text-lg md:text-xl font-semibold text-left"> *@
        @*          Choose Your Pet Type: *@
        @*      </label> *@
        @*      <select id="petType" @bind="selectedPetType" class="border border-gray-300 rounded-md p-2 w-full"> *@
        @*          <option value="dog">Dog</option> *@
        @*          <option value="cat">Cat</option> *@
        @*          <option value="reptilian">Reptilian</option> *@
        @*          <option value="bugs">Bug</option> *@
        @*          <option value="other">Other</option> *@
        @*      </select> *@
        @*  </div> *@
        @* *@
        @*  <!-- Input for Owner's Name --> *@
        @*  <div class="flex flex-col gap-2"> *@
        @*      <label for="ownerName" class="text-lg md:text-xl font-semibold text-left"> *@
        @*          Owner's Name: *@
        @*      </label> *@
        @*      <input id="ownerName" @bind="ownerName" type="text" placeholder="Enter owner's name" class="border border-gray-300 rounded-md p-4 w-full"> *@
        @*  </div> *@
        @*   *@
        @* <!-- Input for Owner's Phone Number --> *@
        @*  <div class="flex flex-col gap-2"> *@
        @*      <label for="ownerPhoneNumber" class="text-lg md:text-xl font-semibold text-left"> *@
        @*          Owner's Phone Number: *@
        @*      </label> *@
        @*      <input id="ownerPhoneNumber" @bind="ownerPhoneNumber" type="text" placeholder="Enter owner's phone number" class="border border-gray-300 rounded-md p-4 w-full"> *@
        @*  </div> *@
        @*   *@
        @*  <!-- Input for Owner's Email --> *@
        @*  <div class="flex flex-col gap-2"> *@
        @*      <label for="ownerEmail" class="text-lg md:text-xl font-semibold text-left"> *@
        @*          Owner's Email: *@
        @*      </label> *@
        @*      <input id="ownerEmail" @bind="ownerEmail" type="text" placeholder="Enter owner's email" class="border border-gray-300 rounded-md p-4 w-full"> *@
        @*  </div> *@
        @*   *@
        @*   <!-- Input for Pet's Name --> *@
        @*  <div class="flex flex-col gap-2"> *@
        @*      <label for="petName" class="text-lg md:text-xl font-semibold text-left"> *@
        @*          Pet's Name: *@
        @*      </label> *@
        @*      <input id="petName" @bind="petName" type="text" placeholder="Enter pet's name" class="border border-gray-300 rounded-md p-4 w-full"> *@
        @*  </div> *@
        @*   *@
        @*          <!-- Input for Pet's Allergic --> *@
        @*  <div class="flex flex-col gap-2"> *@
        @*      <label for="petAllergic" class="text-lg md:text-xl font-semibold text-left"> *@
        @*          Pet's Allergic: *@
        @*      </label> *@
        @*      <input id="petAllergic" @bind="petAllergic" type="text" placeholder="Enter pet's allergy" class="border border-gray-300 rounded-md p-4 w-full"> *@
        @*  </div> *@
        @*   *@
        @*          <!-- Date Picker Input for Choosing Date --> *@
        @*  <div class="flex flex-col gap-2"> *@
        @*      <label for="appointmentDate" class="text-lg md:text-xl font-semibold text-left"> *@
        @*          Choose Date: *@
        @*      </label> *@
        @*      <input id="appointmentDate" @bind="appointmentDate" type="date" class="border border-gray-300 rounded-md p-4 w-full"> *@
        @*  </div> *@
        @* *@
        @*  <div class="flex gap-5 justify-center"> *@
        @*      <Button class="border border-input bg-background"> *@
        @*          Cancel *@
        @*      </Button> *@
        @*      <Button class="bg-primary text-primary-foreground" @onclick="ProceedToConfirmation"> *@
        @*          Continue *@
        @*      </Button> *@
        @*  </div> *@
    </section>
</main>

@code {
    // private string selectedService;
    // private string selectedPetType;
    // private string ownerName;
    // private string ownerPhoneNumber;
    // private string ownerEmail;
    // private string petName;
    // private string petAllergic;
    // private DateTime appointmentDate;

    [SupplyParameterFromForm] private Booking Model { get; set; } = default!;

    protected override void OnInitialized()
    {
        Model = new Booking();
    }

    private void Submit()
    {
        Console.WriteLine(Model);
        
    }
    
    // Method to handle service selection changes
    // private void OnServiceChange(ChangeEventArgs e)
    // {
    //     selectedService = e.Value.ToString(); // Capture the selected value
    //
    //     if (selectedService == "vetCheckUp")
    //     {
    //         // Navigate to the FormServiceDoctor page
    //         Navigation.NavigateTo("/serviceDoctor");
    //     }
    // }
}
